# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
.venv/
venv/
env/

# Django
db.sqlite3
media/
staticfiles/

# Migrations cache
*/migrations/__pycache__/

# Environment variables
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log